terratowns_endpoint="https://terratowns.cloud/api"
dreamhome = {

    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/dreamhome"
    content_version = 2
}

mobilehome = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/mobilehome"
    content_version = 2
}

